
<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">
                        在线课堂
                    </span>
                    <a href="#" class="more">更多</a>

                </div>
                <div class="advertise-group">
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1529560387_820.jpg-website.active.list" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                    <span class="title">
                       <em>关注X_Strive</em>
                    </span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="qq"><a href="#" target="_blank">405460739</a></li>
                            <li class="github"><a href="#" target="_blank">github.com/Lxstrive</a></li>
                            <li class="weibo"><a href="#" target="_blank">lian_xi0508@sina.cn</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">
                                请扫描上方的二维码关注X_Strive的微信
                            </p>
                        </div>
                    </div>

                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">
                            热门推荐
                        </span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">综艺“限定团”一地鸡毛，各方势力的“利”与“义”</a>
                                </p>
                                <p class="more">
                                    <span class="category">
                                        深度报道
                                    </span>
                                    <span class="pub-time">
                                        1小时前
                                    </span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="{% static 'images/4.jpg' %}" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
