@import "constants.scss";
body{
  background: #cccccc;
}



.main{
    width: 100%;
    margin-top: $navHeight+20px;

    .wrapper{
      width: $pageWidth;
      margin: 0 auto;
      overflow: hidden;
        .main-content-wrapper{
            $bannerWidth: $mainBoxWidth;
            $bannerHeight: 202px;
            float: left;
            width: $mainBoxWidth;
        }
      .news-wrapper{

     }

    }
}


.main {
  .wrapper {
    //box-shadow: 8px 9px 10px #3a3a3a;
    .sidebar-wrapper {
      float: right;
      width: $sideBarWidth;
      background: #ffffff;
      .title-group {
        padding: 20px;
        overflow: hidden;
        .title {
          float: left;
          font-size: 16px;
          color: #212121;
        }
        .more {
          float: right;
          font-size: 14px;
          color: $themColor;
        }
      }
      .advertise-group {
        img {
          width: 100%;
          height: 130px;
        }
      }
      .focus-group{
        padding: 0 20px;
        overflow: hidden;
        .left-group{
          width: 190px;
          float: left;
          li{
            width: 100%;
            height: 50px;
            line-height: 25px;
            overflow: hidden;
            a{
              float: left;
              margin-left: 50px;
              color: #878787;
              font-size: 14px;
            }

          }

          .weibo{
            background: url("../../images/sina.png") no-repeat;
            background-size: 24%;
            margin-top: 10px;
          }
          .qq{
            background: url("../../images/qq.png") no-repeat;
            background-size: 20%;
          }
          .github{
            background: url("../../images/git.png") no-repeat;
            background-size: 20%;
          }
        }
        .right-group{
          float: right;
          width: 110px;
          background: url("../../images/weix.png") no-repeat;
          background-size: 100%;
          .desc{
            margin-top: 110px;
            color: #878787;
            font-size: 12px;
          }
        }

      }
      .hot-news-group{
        .hot-list-group{
          li{
            padding: 0 20px 20px;
            overflow: hidden;
            border-bottom: 2px solid #cccccc;
            .left-group{
              width: 204px;
              height: 72px;
              float: left;
              position: relative;
              .title{
                color: #878787;
                font-size: 15px;
                a{
                  color: $mainFontColor;
                  &:hover{
                    color: $themColor;
                  }
                }
              }
              .more{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                .category{
                  color: $themColor;
                  float: left;
                  font-size: 12px;
                }
                .pub-time{
                  float: right;
                  font-size: 12px;
                  color: $assistFontColor;
                }

              }

            }
            .right-group{
              width: 101px;
              height: 72px;
              float: right;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}