$pageWidth: 1170px;
$mainBoxWidth: 798px;
$sideBarWidth: 356px;
$themColor:#5c87d9;
$mainFontColor:#212121;
$assistFontColor:#878787;
$navHeight: 64px;
$bannerWidth: $mainBoxWidth;
$bannerHeight: 202px;
$payColor: #f7766a;
$freeColor: #7ed321;